#main {
    background-color: #ff000c;
    font-family: Arial, Helvetica, sans-serif;
}

#bloc {
    text-align: center;
    background-color: #ffffff;
    padding: 50px;
    margin: 200px;
}

#punchlines {
    font-size: 50px;
    font-weight: bold;
    color: #ff000c;
}

#author {
    color: #ff000c;
    position: relative;
    left: 330px;
    margin-bottom: 30px;
}

#btn {
    position: relative;
    left: 327px;
    border: none;
    border-radius: 5px;
    background-color: #ff000c;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
}